Button{
    background-color: transparent;
    color: white;
    border: none;
    position: relative;
    span{
        border-radius: 50%;
        background-color: rgba(226, 186, 8, 0.9);
        font-size: 0.5rem;
        padding: 0.5rem;
        right: 25px;
        bottom: 20px;
        position: absolute;
    }
}
.btn-primary{
    background-color: rgb(226, 186, 8);
    border: none;
    &:hover{
        background-color: rgba(226, 186, 8, 0.9);
    }
}
Button{
    &:hover{
        border: none;
    }
    &:focus{
        outline:0px;
        box-shadow: none;
    }
}
.btn{
    &:focus{
        box-shadow: none;
        border: none;
    }
}
button svg{
    color: white;
}