b{
    margin: 1rem 10rem 1rem 0;
}
.container{
    text-align: left;
    align-items: flex-start;
}
.column{
    border-top: 2px;
    border-bottom: 2px;
    text-align: left;
    align-items: flex-start;
    .title{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .item{
        margin-left: 0;
        border-bottom: 1px solid #000;
        width: 70%;
        small{
            margin:0;
        }
    }
}
.flex{
    text-align: left;
    p{
        margin: 1rem 5rem 1rem 3rem;
    }
    small{  
        margin: 1rem 4rem 1rem 3rem ;
    }
}